[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TrialEmulation"]
	path = TrialEmulation
	url = https://github.com/causal-lda/trialemulation
